<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Accout-Dinamics</title>
    <meta content="" name="description">
    <link rel="shortcut icon" href="img/favicon/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <header>
        <div class="container">
            <div class="top_line clearfix">
                <div class="ren_time">Обновлено 01.05.2020 В 15:00</div>
                <nav class="navbar">
                    <ul class="icon_panel">
                        <li>
                            <a id="help" href="#">
                                <i class="far fa-question-circle"></i>
                            </a>
                        </li>
                        <li>
                            <a id="mail" href="#">
                                <i class="far fa-envelope"></i>
                            </a>
                        </li>
                        <li>
                            <div class="spec" id="user">
                                <i class="far fa-user-circle"></i>
                                <div class="span">
                                    <div class="user_name">Иван</div>
                                    <div class="user_login">(wolrnotlef)</div>
                                    <a class="esc" href="#">Настройки</a>
                                    <a class="esc" href="#">Выйти</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="content_layout">
        <div class="container">
            <div class="wrap_full divTable">
                <div class="divTableRow">
                    <div class="sidebar divTableCell">
                        <ul class="acc_list accordeon">
                            <li class="active">
                                <a class="acc_head accordeon-head" href="#">Аккаунт 1</a>
                                <ul class="item_acc accordeon-body">
                                    <li>
                                        <a href="account.html">Ozon.Seller</a>
                                    </li>
                                    <li class="active">
                                        <a class="din" href="#">Динамика</a>
                                    </li>
                                    <li>
                                        <a class="chart" href="sales.html">Продажи</a>
                                    </li>
                                    <li>
                                        <a class="pie" href="#">Анализ</a>
                                    </li>
                                    <li>
                                        <a class="cart" href="#">Закупка</a>
                                    </li>
                                    <li>
                                        <a class="down" href="#">Потери</a>
                                    </li>
                                    <li>
                                        <a class="map" href="#">Карта</a>
                                    </li>
                                    <li>
                                        <a class="carry" href="#">Движение товара</a>
                                    </li>
                                    <li>
                                        <a class="card" href="#">Конкуренты</a>
                                    </li>
                                    <li>
                                        <a class="money" href="#">Бабло</a>
                                    </li>
                                    <li>
                                        <a class="set" href="#">Настройки</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="acc_head accordeon-head" href="#">Аккаунт 2</a>
                                <ul class="item_acc accordeon-body">
                                    <li>
                                        <a href="account.html">Ozon.Seller</a>
                                    </li>
                                    <li class="active">
                                        <a class="din" href="#">Динамика</a>
                                    </li>
                                    <li>
                                        <a class="chart" href="sales.html">Продажи</a>
                                    </li>
                                    <li>
                                        <a class="pie" href="#">Анализ</a>
                                    </li>
                                    <li>
                                        <a class="cart" href="#">Закупка</a>
                                    </li>
                                    <li>
                                        <a class="down" href="#">Потери</a>
                                    </li>
                                    <li>
                                        <a class="map" href="#">Карта</a>
                                    </li>
                                    <li>
                                        <a class="carry" href="#">Движение товара</a>
                                    </li>
                                    <li>
                                        <a class="card" href="#">Конкуренты</a>
                                    </li>
                                    <li>
                                        <a class="money" href="#">Бабло</a>
                                    </li>
                                    <li>
                                        <a class="set" href="#">Настройки</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="acc_head accordeon-head" href="#">Аккаунт 3</a>
                                <ul class="item_acc accordeon-body">
                                    <li>
                                        <a href="account.html">Ozon.Seller</a>
                                    </li>
                                    <li class="active">
                                        <a class="din" href="#">Динамика</a>
                                    </li>
                                    <li>
                                        <a class="chart" href="sales.html">Продажи</a>
                                    </li>
                                    <li>
                                        <a class="pie" href="#">Анализ</a>
                                    </li>
                                    <li>
                                        <a class="cart" href="#">Закупка</a>
                                    </li>
                                    <li>
                                        <a class="down" href="#">Потери</a>
                                    </li>
                                    <li>
                                        <a class="map" href="#">Карта</a>
                                    </li>
                                    <li>
                                        <a class="carry" href="#">Движение товара</a>
                                    </li>
                                    <li>
                                        <a class="card" href="#">Конкуренты</a>
                                    </li>
                                    <li>
                                        <a class="money" href="#">Бабло</a>
                                    </li>
                                    <li>
                                        <a class="set" href="#">Настройки</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="acc_head accordeon-head" href="#">Аккаунт 4</a>
                                <ul class="item_acc accordeon-body">
                                    <li>
                                        <a href="account.html">Ozon.Seller</a>
                                    </li>
                                    <li class="active">
                                        <a class="din" href="#">Динамика</a>
                                    </li>
                                    <li>
                                        <a class="chart" href="sales.html">Продажи</a>
                                    </li>
                                    <li>
                                        <a class="pie" href="#">Анализ</a>
                                    </li>
                                    <li>
                                        <a class="cart" href="#">Закупка</a>
                                    </li>
                                    <li>
                                        <a class="down" href="#">Потери</a>
                                    </li>
                                    <li>
                                        <a class="map" href="#">Карта</a>
                                    </li>
                                    <li>
                                        <a class="carry" href="#">Движение товара</a>
                                    </li>
                                    <li>
                                        <a class="card" href="#">Конкуренты</a>
                                    </li>
                                    <li>
                                        <a class="money" href="#">Бабло</a>
                                    </li>
                                    <li>
                                        <a class="set" href="#">Настройки</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="acc_head accordeon-head" href="#">Аккаунт 5</a>
                                <ul class="item_acc accordeon-body">
                                    <li>
                                        <a href="account.html">Ozon.Seller</a>
                                    </li>
                                    <li class="active">
                                        <a class="din" href="#">Динамика</a>
                                    </li>
                                    <li>
                                        <a class="chart" href="sales.html">Продажи</a>
                                    </li>
                                    <li>
                                        <a class="pie" href="#">Анализ</a>
                                    </li>
                                    <li>
                                        <a class="cart" href="#">Закупка</a>
                                    </li>
                                    <li>
                                        <a class="down" href="#">Потери</a>
                                    </li>
                                    <li>
                                        <a class="map" href="#">Карта</a>
                                    </li>
                                    <li>
                                        <a class="carry" href="#">Движение товара</a>
                                    </li>
                                    <li>
                                        <a class="card" href="#">Конкуренты</a>
                                    </li>
                                    <li>
                                        <a class="money" href="#">Бабло</a>
                                    </li>
                                    <li>
                                        <a class="set" href="#">Настройки</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="acc_head accordeon-head" href="#">Аккаунт 6</a>
                                <ul class="item_acc accordeon-body">
                                    <li>
                                        <a href="account.html">Ozon.Seller</a>
                                    </li>
                                    <li class="active">
                                        <a class="din" href="#">Динамика</a>
                                    </li>
                                    <li>
                                        <a class="chart" href="sales.html">Продажи</a>
                                    </li>
                                    <li>
                                        <a class="pie" href="#">Анализ</a>
                                    </li>
                                    <li>
                                        <a class="cart" href="#">Закупка</a>
                                    </li>
                                    <li>
                                        <a class="down" href="#">Потери</a>
                                    </li>
                                    <li>
                                        <a class="map" href="#">Карта</a>
                                    </li>
                                    <li>
                                        <a class="carry" href="#">Движение товара</a>
                                    </li>
                                    <li>
                                        <a class="card" href="#">Конкуренты</a>
                                    </li>
                                    <li>
                                        <a class="money" href="#">Бабло</a>
                                    </li>
                                    <li>
                                        <a class="set" href="#">Настройки</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="wrap_content divTableCell">
                        <div class="wrap_bars">
                            <div class="divTable">
                                <div class="divTableRow">
                                    <div class="divTableCell">
                                        <div class="wrap_bar_item order_goods">
                                            <h3>Заказали товаров 25 шт</h3>
                                            <div class="int">За сегодня</div>
                                            <div class="bar_item clearfix">
                                                <ul class="yAxis">
                                                    <li>10к</li>
                                                    <li>9к</li>
                                                    <li>8к</li>
                                                    <li>8к</li>
                                                    <li>8к</li>
                                                </ul>
                                                <dl class="csschart">
                                                    <dt>1</dt>
                                                    <dd class="p70">
                                                        <span></span>
                                                    </dd>
                                                    <dt>2</dt>
                                                    <dd class="p70">
                                                        <span></span>
                                                    </dd>
                                                    <dt>3</dt>
                                                    <dd class="p85">
                                                        <span></span>
                                                    </dd>
                                                    <dt>4</dt>
                                                    <dd class="p55">
                                                        <span></span>
                                                    </dd>
                                                    <dt>5</dt>
                                                    <dd class="p75">
                                                        <span></span>
                                                    </dd>
                                                    <dt>6</dt>
                                                    <dd class="p70">
                                                        <span></span>
                                                    </dd>
                                                    <dt>7</dt>
                                                    <dd class="p85">
                                                        <span></span>
                                                    </dd>
                                                    <dt>8</dt>
                                                    <dd class="p55">
                                                        <span></span>
                                                    </dd>
                                                </dl>
                                                <ul class="xAxis">
                                                    <li>1</li>
                                                    <li>2</li>
                                                    <li>3</li>
                                                    <li>4</li>
                                                    <li>5</li>
                                                    <li>6</li>
                                                    <li>7</li>
                                                    <li>8</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divTableCell">
                                        <div class="wrap_bar_item order_metric">
                                            <h3>Какая то метрика 10 745</h3>
                                            <div class="int">За сегодня</div>
                                            <div class="bar_item clearfix">
                                                <ul class="yAxis">
                                                    <li>10к</li>
                                                    <li>9к</li>
                                                    <li>8к</li>
                                                    <li>8к</li>
                                                    <li>8к</li>
                                                </ul>
                                                <dl class="csschart">
                                                    <dt>1</dt>
                                                    <dd class="p70">
                                                        <span></span>
                                                    </dd>
                                                    <dt>2</dt>
                                                    <dd class="p70">
                                                        <span></span>
                                                    </dd>
                                                    <dt>3</dt>
                                                    <dd class="p85">
                                                        <span></span>
                                                    </dd>
                                                    <dt>4</dt>
                                                    <dd class="p55">
                                                        <span></span>
                                                    </dd>
                                                    <dt>5</dt>
                                                    <dd class="p75">
                                                        <span></span>
                                                    </dd>
                                                    <dt>6</dt>
                                                    <dd class="p70">
                                                        <span></span>
                                                    </dd>
                                                    <dt>7</dt>
                                                    <dd class="p85">
                                                        <span></span>
                                                    </dd>
                                                    <dt>8</dt>
                                                    <dd class="p55">
                                                        <span></span>
                                                    </dd>
                                                </dl>
                                                <ul class="xAxis">
                                                    <li>1</li>
                                                    <li>2</li>
                                                    <li>3</li>
                                                    <li>4</li>
                                                    <li>5</li>
                                                    <li>6</li>
                                                    <li>7</li>
                                                    <li>8</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell">
                                        <div class="wrap_bar_item order_summ">
                                            <h3>Заказали на сумму 10 745 руб</h3>
                                            <div class="int">За сегодня</div>
                                            <div class="bar_item clearfix">
                                                <ul class="yAxis">
                                                    <li>10к</li>
                                                    <li>9к</li>
                                                    <li>8к</li>
                                                    <li>8к</li>
                                                    <li>8к</li>
                                                </ul>
                                                <dl class="csschart">
                                                    <dt>1</dt>
                                                    <dd class="p70">
                                                        <span></span>
                                                    </dd>
                                                    <dt>2</dt>
                                                    <dd class="p70">
                                                        <span></span>
                                                    </dd>
                                                    <dt>3</dt>
                                                    <dd class="p85">
                                                        <span></span>
                                                    </dd>
                                                    <dt>4</dt>
                                                    <dd class="p55">
                                                        <span></span>
                                                    </dd>
                                                    <dt>5</dt>
                                                    <dd class="p75">
                                                        <span></span>
                                                    </dd>
                                                    <dt>6</dt>
                                                    <dd class="p70">
                                                        <span></span>
                                                    </dd>
                                                    <dt>7</dt>
                                                    <dd class="p85">
                                                        <span></span>
                                                    </dd>
                                                    <dt>8</dt>
                                                    <dd class="p55">
                                                        <span></span>
                                                    </dd>
                                                </dl>
                                                <ul class="xAxis">
                                                    <li>1</li>
                                                    <li>2</li>
                                                    <li>3</li>
                                                    <li>4</li>
                                                    <li>5</li>
                                                    <li>6</li>
                                                    <li>7</li>
                                                    <li>8</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divTableCell">
                                        <div class="wrap_bar_item order_bought">
                                            <h3>Выкупили 6 725 руб</h3>
                                            <div class="int">За сегодня</div>
                                            <div class="bar_item clearfix">
                                                <ul class="yAxis">
                                                    <li>10к</li>
                                                    <li>9к</li>
                                                    <li>8к</li>
                                                    <li>8к</li>
                                                    <li>8к</li>
                                                </ul>
                                                <dl class="csschart">
                                                    <dt>1</dt>
                                                    <dd class="p70">
                                                        <span></span>
                                                    </dd>
                                                    <dt>2</dt>
                                                    <dd class="p70">
                                                        <span></span>
                                                    </dd>
                                                    <dt>3</dt>
                                                    <dd class="p85">
                                                        <span></span>
                                                    </dd>
                                                    <dt>4</dt>
                                                    <dd class="p55">
                                                        <span></span>
                                                    </dd>
                                                    <dt>5</dt>
                                                    <dd class="p75">
                                                        <span></span>
                                                    </dd>
                                                    <dt>6</dt>
                                                    <dd class="p70">
                                                        <span></span>
                                                    </dd>
                                                    <dt>7</dt>
                                                    <dd class="p85">
                                                        <span></span>
                                                    </dd>
                                                    <dt>8</dt>
                                                    <dd class="p55">
                                                        <span></span>
                                                    </dd>
                                                </dl>
                                                <ul class="xAxis">
                                                    <li>1</li>
                                                    <li>2</li>
                                                    <li>3</li>
                                                    <li>4</li>
                                                    <li>5</li>
                                                    <li>6</li>
                                                    <li>7</li>
                                                    <li>8</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap_store">
                            <div class="divTable">
                                <div class="divTableRow line_t">
                                    <div class="divTableCell">
                                        <span>157 шт</span>
                                        <p>В пути к клиенту</p>
                                    </div>
                                    <div class="divTableCell">
                                        <p>Остаток товара</p>
                                        <span>1435 шт</span>
                                        <p>Доступно к продаже</p>
                                    </div>
                                    <div class="divTableCell">
                                        <p>Стоимость остатков по РЦ</p>
                                        <span>530 590 руб</span>
                                    </div>
                                </div>
                                <div class="divTableRow line_b">
                                    <div class="divTableCell">
                                        <span>34 шт</span>
                                        <p>В пути от клиенту</p>
                                    </div>
                                    <div class="divTableCell">
                                        <p>Выкуп</p>
                                        <span>87%</span>
                                        <p>% выкупа за прошлую <br>неделю</p>
                                    </div>
                                    <div class="divTableCell free">
                                        <p>Свободное место</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap_orders">
                            <h3>Заказали товаров за неделю</h3>
                            <div class="wrapper_tab_content">
                                <div class="wrap_table">
                                    <div class="divTable">
                                        <div class="divTableHeading">
                                            <div class="divTableRow">
                                                <div class="divTableHead">№</div>
                                                <div class="divTableHead">Фото</div>
                                                <div class="divTableHead">Наименование</div>
                                                <div class="divTableHead">Заказов шт</div>
                                                <div class="divTableHead">На сумму в руб</div>
                                                <div class="divTableHead">Склад</div>
                                                <div class="divTableHead">Бренд</div>
                                                <div class="divTableHead">Баркод</div>
                                            </div>
                                        </div>
                                        <div class="divTableBody">
                                            <div class="divTableRow">
                                                <div class="divTableCell">1</div>
                                                <div class="divTableCell img_icon"><a class="tooltip" href="#"><i class="far fa-image"></i><span><img src="img/def_img.png" alt="foto"></span></a></div>
                                                <div class="divTableCell">Очень дорогая вещь</div>
                                                <div class="divTableCell">Продается</div>
                                                <div class="divTableCell">35</div>
                                                <div class="divTableCell">24 500</div>
                                                <div class="divTableCell pr">FBS</div>
                                                <div class="divTableCell">1234351235</div>
                                            </div>
                                            <div class="divTableRow">
                                                <div class="divTableCell">1</div>
                                                <div class="divTableCell img_icon"><a class="tooltip" href="#"><i class="far fa-image"></i><span><img src="img/def_img.png" alt="foto"></span></a></div>
                                                <div class="divTableCell">Очень дорогая вещь</div>
                                                <div class="divTableCell">Продается</div>
                                                <div class="divTableCell">35</div>
                                                <div class="divTableCell">24 500</div>
                                                <div class="divTableCell pr">FBS</div>
                                                <div class="divTableCell">1234351235</div>
                                            </div>
                                            <div class="divTableRow">
                                                <div class="divTableCell">1</div>
                                                <div class="divTableCell img_icon"><a class="tooltip" href="#"><i class="far fa-image"></i><span><img src="img/def_img.png" alt="foto"></span></a></div>
                                                <div class="divTableCell">Очень дорогая вещь</div>
                                                <div class="divTableCell">Продается</div>
                                                <div class="divTableCell">35</div>
                                                <div class="divTableCell">24 500</div>
                                                <div class="divTableCell pr">FBS</div>
                                                <div class="divTableCell">1234351235</div>
                                            </div>
                                            <div class="divTableRow">
                                                <div class="divTableCell">1</div>
                                                <div class="divTableCell img_icon"><a class="tooltip" href="#"><i class="far fa-image"></i><span><img src="img/def_img.png" alt="foto"></span></a></div>
                                                <div class="divTableCell">Очень дорогая вещь</div>
                                                <div class="divTableCell">Продается</div>
                                                <div class="divTableCell">35</div>
                                                <div class="divTableCell">24 500</div>
                                                <div class="divTableCell pr">FBS</div>
                                                <div class="divTableCell">1234351235</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/common.js"></script>

</body>

</html>